<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>时大卡</string>
	<string>sdasd </string>
	<string>三sd </string>
	<string>说的</string>
	<string>as</string>
	<string>唯饭</string>
	<string>请问</string>
	<string>请问为</string>
	<string>热t r图</string>
	<string>请问</string>
	<string>额</string>
	<string>一</string>
	<string>已</string>
	<string>以上</string>
	<string>光投 </string>
	<string>厄特认同</string>
	<string>r呀r</string>
	<string>热</string>
	<string>说的</string>
	<string>twe热wer </string>
	<string>额</string>
	<string>打开就不</string>
	<string>sdasd</string>
	<string>阿三</string>
	<string>为</string>
	<string>为鄂王</string>
	<string>作者</string>
	<string>试试</string>
	<string>小</string>
	<string>宝宝</string>
	<string>命名</string>
	<string>雨哦</string>
	<string>氢气球</string>
	<string>方方</string>
	<string>谷歌</string>
	<string>看看</string>
	<string>头晕</string>
	<string>破</string>
	<string>请问</string>
	<string>来看</string>
	<string>Apple</string>
	<string>小明</string>
	<string>小红</string>
	<string>命名难</string>
	<string>好麻烦</string>
	<string>自己写的plist</string>
	<string>不要见怪啊</string>
	<string>快下班了</string>
	<string>快去发博客</string>
	<string>先写点注释</string>
	<string>德玛西亚</string>
	<string>#ksbj</string>
	<string>!行啊</string>
	<string> 阿巴斯</string>
	<string>％ajsbk</string>
	<string>^_^</string>
	<string>＊时间内</string>
</array>
</plist>
